:root{
    --electric: #1BE7FF;
    --light-green: #6EEB83;
    --lemon-lime: #E4FF1A;
    --selective-yellow: #FFB800;
    --giants-orange: #FF5714;
    --dim-gray: #666B6A;
}

h1{
    font-size: 400%;
}

#contenedor-principal {
    display: grid;
    grid-template-columns: 25% 1fr;
}

#imagen-lateral {
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;
    object-fit: cover;
    height: 800px;
}

.imagen {
    position: relative;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

#cuerpo {
    display: grid;
    grid-template-columns: repeat(2 minmax(0, 1fr));
    gap: 3rem;
    align-items: center;
    justify-items: center;
}

.sociologos {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;
    padding: 3rem;
}

.sociologos > div > img {
    width: 325px;
    height: 325px;
    object-fit: cover;
}

main {
    background-color: var(--electric);
}

#cuerpo {
    background-color: var(--dim-gray);
}

footer, header {
    padding: 2.1rem;
}